.projects-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.project-box {
  min-width: 150px;
  max-width: 520px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
