.work-nav{
/* width: 100%; */
/* overflow: scroll; */
margin-top: 10px;
display:flex;
}

.work-btn{
color: rgb(10, 210, 255);
font-size: 1.4em;
margin-right: 10px;
padding: 5px 25px 10px 25px;
display: inline;
text-align: center;

border-color: rgb(230, 230, 230);
background-color: rgb(245, 252, 253);
box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.06), 1px 3px 8px rgba(0, 0, 0, 0.03);
border-style: solid;
border-width: 1px;
}

.work-btn:focus{
    outline: 0;
}

.selected-btn{
background-color: white;
border-color: white;
box-shadow: 0px 0px 0px ;
}

.job-detail{
background-color:white;
height: 80%;
box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06);
}

.detail-box{
padding: 40px;
}

.job-title{
font-size: 1.3em;
color: rgb(9, 185, 224);
}

.detail-list{
list-style-type: square;
padding-left: 30px;
}