.wrapper {
  /* background-color: rgb(245, 252, 253); */
  background: rgb(196, 221, 230);
  background: linear-gradient(180deg, rgba(243,252,255,1) 0%, rgba(207,229,232,1) 100%);
  display: grid;
  justify-content: center;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 100%;
}

.page-item{
  width: 100%;
}

.tech-list{
  display:flex;
  justify-content: flex-end;
  flex-wrap:wrap;
  flex-direction:row;
  padding-bottom: 10px;
}

.tech-icon{
  padding: 0 2px;
  height:25px;
  width: 25px;
}

.tech-wrap{
  color: rgb(0, 119, 146);
  background-color: rgb(216, 246, 253);
  border-style: solid;
  border-color: rgb(82, 223, 255);
  border-width: 1.5px;
  border-radius: 5px;
  padding: 5px;
  display:flex;
  margin: 2.5px;
}

.hero{
  background-color: rgb(27,30,37);
  color: rgb(153, 236, 255);
  /* color: rgb(174, 225, 236); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto;
}

 .content-item{
  width: 95%;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 1080px;
  border-radius: 5px;
}

.content-title{
  font-size: 2.5em;
  margin: 20px;
}
.content-subtitle{
  font-size: 1.5em;
}

.footer{
  display:flex;
  background-color: rgb(27,30,37);
  color: rgb(153, 236, 255);
  height: 100px;
  font-weight: 100;
  justify-content:center;
  padding-top:30px;
  margin-right: 30px;
}